<html>
    <body>
        <div id="area">
            <form action="/calcular" method="POST" name= "testes">
                <fieldset>
                    <legend>Calculadora</legend>
                    <label>Digite um número</label><input id="v1" type="text" name="valor1"><br>
                    <br>
                    <label>Digite outro número</label><input id="v2" type="text" name="valor2" ><br>
                    <br>
                    <label>Escolha uma operação</label><input id="operacao" type="text" name="operador">

                    <input class="btn_submit" type="submit" value="Enviar">
                </fieldset>
            </form>
        </div>
    </body>
</html>



